* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.navbar {
  position: sticky;
  border-bottom: solid 2px black;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
}